//- includes/head.jade
head
  title= title
  script(src='/3rdparty/jquery/dist/jquery.js')
  script(src='/3rdparty/angular/angular.js')
  script(src='/3rdparty/angular-route/angular-route.js')
  script(src='/scripts/course.js')
  script(src='/scripts/pal_kpiApp.js')
  link(rel='stylesheet', href='/stylesheets/style.css')